.post {
  width: 100%;
  box-shadow: 2px 1px 5px -1px #7e7c7c;
  border-radius: 8px;
  margin: 30px 0;
  background-color: #f8fcff;
}

.postWrapper {
  padding: 10px;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postTopRight {
  display: flex;
  position: relative;
}

.MoreVertIcon {
  cursor: pointer;
  z-index: 10;
}

.miniMenu {
  display:flex;
  top: -5px;
  left: -2px;
  border-radius: 8px;
  /* 吹き出し用設定 */
  position: relative;
  font-size: 16px;
  padding: 1em;
  min-width: 5em;
  max-width: 100%;
  text-align: center;
  background: #fff;
  border: solid 1px #7e7c7c;
  border-radius: 0.5em;
  box-sizing: border-box;
  z-index: 5;
}

.miniMenuInner {
  position:absolute;
  top: -5px;
  right: 16px;
  width: 80%;
  height: 95%;
  padding-top: 5px;
  padding-right:11px;
  background-color: #f8fcff;
  opacity: 1;
  z-index: 5;
  /* transition: all 0.3s ease; */
}

.menuOpen {
  opacity:1;
  animation: slideFadeout 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes slideFadeout {
  0%{
    transform: translateX(0px);
}
100%{
  transform: translateX(-120px);
  opacity: 0;
}
}

.miniMenuText{
  position:relative;
  color:#e91e63;
  padding-left: 0.2em;
  font-weight:bold;
  cursor:pointer;
}

.miniMenu:before {
  content: "";
  position: absolute;
  top: -10px;
  right: -22px;
  margin-top: 14px;
  border: 12px solid transparent;
  border-left: 12px solid #fff;
  z-index: 2;
}

.miniMenu:after {
  content: "";
  position: absolute;
  top: 19px;
  right: -22px;
  margin-top: -14px;
  border: 11px solid transparent;
  border-left: 11px solid #7e7c7c;
  z-index: 1;
}

.postUsername {
  font-size: 15px;
  font-weight: 550;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px solid gray;
  font-size: 15px;
  margin-right: 3px;
}
